* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(./Images/bgimg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    max-width: 470px;
    min-height: 100px;
    background: url(./Images/bgimg1.jpg);
    background-size: cover;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);;
    border: 2px solid #dad8d8;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search-bar input {
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search-bar button {
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: grey;
    font-size: 15px;
}

.weather h1 {
    font-size: 50px;
    font-weight: 500;
}

.weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.column {
    display: flex;
    align-items: center;
    text-align: left;
}

.column i {
    font-size: 40px;
    margin-right: 10px;
}

.Humidity, .Wind {
    font-size: 25px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}